$primary: #114bae;
$danger: #dc3545;

$prefix: zan;

@keyframes #{$prefix}-keyframes-spin {
  0%{transform: rotate(0)}
  100%{transform: rotate(360deg)}
}

@mixin ButtonSize($padding-y,$padding-x,$height,$line-height,$font-size) {
  padding: $padding-y $padding-x;
  height: $height;
  line-height: $line-height;
  font-size: $font-size;
}

@mixin ButtonStyle($color,$hover,$active){
  border: none;
  background-color: $color;
  color: #ffffff;
  box-sizing: border-box;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
    color: #ffffff;
  }
}

@mixin spin($duration){
  animation: #{$prefix}-keyframes-spin $duration linear infinite;
}

