$primary: #114bae;
$danger: #dc3545;

$prefix: zan;

@keyframes #{$prefix}-keyframes-spin {
  0%{transform: rotate(0)}
  100%{transform: rotate(360deg)}
}

@mixin ButtonSize($padding-y,$padding-x,$height,$line-height,$font-size) {
  padding: $padding-y $padding-x;
  height: $height;
  line-height: $line-height;
  font-size: $font-size;
}

@mixin ButtonStyle($color,$hover,$active){
  border: none;
  background-color: $color;
  color: #ffffff;
  box-sizing: border-box;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
    color: #ffffff;
  }
}

@mixin spin($duration){
  animation: #{$prefix}-keyframes-spin $duration linear infinite;
}

@mixin ButtonIconSize($size) {
  .zan-icon {
    font-size: $size;
    margin-right: 4px;
  }
}

@mixin ButtonText(){
  @include ButtonSize(0, 8px, 24px, 24px, 12px);
  border: 0;
  color: #155bd4;
  background-color: #F8FAFE;

  &:hover {
    background-color: #F1F5FC;
  }

  &:active {
    background-color: #EAF0FB;
  }
}

@mixin ButtonLink(){
  color: $primary;
  text-decoration: none;
  user-select: none;
}

@mixin ButtonOutline($color){
  border: 1px solid $color;
  color: $color;
  background-color: #ffffff;
  &:hover{
    border: 1px solid $color;
    color: $color;
    background-color: #ffffff;
  }
  &:active {
    border: 1px solid transparent;
    background-color: #e0e0e0;
    color: #333333;
  }
}

@mixin ButtonDefault(){
  border: none;
  color: #333333;
  background-color: #F0F0F0;

  &:hover{
    background-color: #F7F7F7;
  }

  &:active{
    background-color: #E8E8E8;
  }
}

@mixin ButtonIcon(){
  &:hover{
    background-color: #F7F7F7;
  }

  &:active{
    background-color: #E8E8E8;
  }
}