$primary: #114bae;
$danger: #dc3545;

@mixin ButtonSize($padding-y,$padding-x,$height,$line-height,$font-size) {
  padding: $padding-y $padding-x;
  height: $height;
  line-height: $line-height;
  font-size: $font-size;
}

@mixin ButtonStyle($color,$hover,$active){
  border: none;
  background-color: $color;
  color: #ffffff;
  box-sizing: border-box;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
    color: #ffffff;
  }
}