
.slider-nav-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  //border: 1px solid red;
  .title {
    font-size: 13px;
    line-height: 44px;
    padding-left: 40px;
    color: rgba(69,90,100,.6);
  }

  .menu-list {
    width: 100%;
    .menu-item{
      line-height: 44px;
      font-size: 14px;
      font-weight: normal;
      box-sizing: border-box;
      a{
        display: block;
        width: 100%;
        padding-left: 40px;
        box-sizing: border-box;
        &:not(.active):hover{
          background:#f5f7fa;
          color: $primary;
        }
      }
      .active{
        color: $primary;
        background: lighten($primary,50%);
      }
    }
  }
}